@import url('car/car.css');
@import url('car/carin.css');
@import url('car/carout.css');

@import url('wheel/wheel.css');
@import url('wheel/wheelin.css');
@import url('wheel/wheelout.css');


html, body {
    background-color: #d0dce8;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

span, button {
    font-family: Arial, Helvetica, sans-serif;
    color:#343434;
}

.modal {
    background-color: #eff3f7;
    width: 400px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.1);
}

.shoppingcart {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/icons/shopping-cart-solid.png);
    top: 60px;
    right: 40px;
}

    .shoppingcart > span {
        font-size: 9pt;
        color: #FFF;
        background-color: #0172ff;
        padding: 4px 8px;
        border-radius: 100%;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transform: translate(50%,-50%);
        -moz-transform: translate(50%,-50%);
        -o-transform: translate(50%,-50%);
        transform: translate(50%,-50%);
    }
